button{
  background-color:rgb(0, 0, 0);
  border-radius: 5px;
  border-style: solid;
  display: block;
  justify-self: center ;
  margin:10px;
  border-width: 2px;
  cursor: pointer;
  transition:transform 0.25s,background-color 0.25s;
  padding: 5px;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  transition:transform 0.25s;
}
a:hover{
  transform: scale(1.1);
}
button:hover{
  transform: scale(1.1);
}
